<!-- Header -->

<header class="header container">
  <div class="header__inner">
    <div class="header__logo logo">
      <img class="logo__img" src="img/logo.svg" width="57" height="56" alt="logo">
      <span class="logo__text">Логотип</span>
    </div>

    <nav class="header__nav nav">
      <ul class="nav__items list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__name">Прием заявок</span>
            до <span class="nav__day">11</span> марта
          </a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__name">Получение заданий</span>
            <span class="nav__day">11</span> марта
          </a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__name">Внесение ответов</span>
            до <span class="nav__day">18</span> марта
          </a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__name">Итоги конкурса</span>
            <span class="nav__day">19</span> марта
          </a>
        </li>
      </ul>
    </nav>

    <button class="header__button btn btn--border">Вход в кабинет</button>
  </div>
</header>

<!-- End header -->
