<!-- Hero -->
<section class="hero hero--mt">
  <div class="hero__inner container">
    <div class="hero__content">
      <h1 class="hero__title title-h1 title-h1--mobile-text-center title-h1--mb">
        Тестовое задание для <span>самого лучшего</span> верстальщика
      </h1>
      <ul class="list-reset hero__block">
        <li class="hero__item">

          <div class="hero__wrap">
            <h2 class="title-h2 title-h2--mb">Низкий оргвзнос</h2>

            <div class="block-anim">
              <span class="block-anim__element">30</span> <img loading="lazy" src="img/ruble.svg" class="block-anim__image" alt="ruble">
            </div>
          </div>


          <div class="hero__button btn btn--text-big btn--gold">Подать заявку на участие</div>
        </li>

        <li class="hero__block-text block-text">
          <div class="block-text__item">
            <h2 class="title-h2 title-h2--mb title-h2--opacity">Ученикам</h2>
            <p>Конкурс по 16 предметам</p>
            <p>Доступные задания для всех учеников</p>
            <p>Бесплатные дипломы и сертификаты</p>
          </div>

          <div class="block-text__item">
            <h2 class="title-h2 title-h2--mb title-h2--opacity">Ученикам</h2>
            <p>Бесплатные свидетельства</p>
            <p>Бесплатные благодарности</p>
            <p>Простое участие</p>
          </div>
        </li>


      </ul>
    </div>
    <div class="hero__image">
      <picture class="hero__img">
        <source srcset="img/student-mobile.webp"  type="image/webp" media="(max-width: 600px)" width="236" height="240">
        <source srcset="img/student.webp"  type="image/webp" width="523" height="532">
        <img loading="lazy" src="img/student.png" class="image" width="523" height="532" alt="student">
      </picture>
    </div>
  </div>
  <div class="hero__bg">
    <img loading="lazy" src="img/hero-line-fon.svg" class="image" alt="img">
  </div>
</section>
<!--End Hero -->
